:root {

  --gray-blue-color:rgba(76, 96, 133, 1);
  --blue-color:rgba(57, 160, 237, 1);
  --turq-color:rgba(54, 241, 205, 1);
  --teal-color:rgba(19, 196, 163, 1);
  --black-color:rgba(24, 2, 12, 1);
}

html, body {
  height: 100vh;
  width: 100wh;
  color: var(--black-color);
}

body {
  padding: 40px;
  background-color: var(--blue-color);
  box-sizing: border-box;
}

#root, #root > div {
  height: 100%;
}

#modal {
  position: absolute;
  height: 100vh;
  width: 100%;
  background-color: rgba(0,0,0,.5);
  z-index: 1;
  top: 0;
  left: 0;
}

#modal article {
  background-color: white;
  height: 50%;
  width: 60%;
  margin: 10% auto;

  padding: 20px;
}

#container {
  height: 100%;
  display: grid;
  grid-template-columns: 25% 50% 25%;
  grid-template-rows: 33% 33% 33%;
}

#card {
  background-color: lightskyblue;
  grid-column-start: 2;
  grid-column-end: 3;
  grid-row-start: 2;
  grid-row-end: 3;

  font-size: 2rem;
  border: solid;
  box-shadow: 2px 2px 2px 2px var(--gray-blue-color);  
}

.center-text {
  display: flex;
  justify-content: center;
  align-items: center;
}

.button {
  grid-row-start: 2;
  grid-row-end: 3;

  cursor: pointer;
}


#chart {
  height: 100%;
  display: grid;
  grid-template-columns: 25% 50% 25%;
  grid-template-rows: 30% 60% 10%;

  border: solid;
  box-sizing: border-box;
  background-color: white;
}

table {
  grid-column: 1 / 4;
  grid-row: 1 / 4;
  padding-top: 120px;
  overflow-x: scroll;
  display: block;
}

table .word {
  transform: rotate(-50deg);
  transform-origin: top left;
  font-weight: lighter;
}

tbody th {
  width: 250px;
  display: block;
  margin-left: 20px;
}

td {
  padding: 0 10px;
}

th {
  border-bottom: dotted 1px gray;
}

.tooltip .tooltiptext {
    visibility: hidden;
    width: 120px;
    background-color: var(--black-color);
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;
    bottom: 65%;
    left: 122%; 
    margin-left: -60px;
    transform: rotate(50deg);

    /* Position the tooltip */
    position: absolute;
    z-index: 1;
}

.tooltip:hover .tooltiptext {
    visibility: visible;
}